.form-control.date {
    max-width:200px;
}
.white {
    background: rgb(255, 255, 255);
}
.subject-relation-sub ul {
    list-style-type: none;
}
.logo-top {
    max-width:500px;
    margin:20px auto 0 auto;
    padding:30px;
}
.logo-top img {
    width:100%;
}

.navbar-header img {
    height:25px;
}
.navbar-header form {
    margin:0px;
    padding:8px;
}
.input-container-top {
    max-width:500px;
}
.subject-list {
    padding:0px;
}
.subject-list-main .media-body, .subject-list-sub,
.subject-relation-main .media-body, .subject-list-sub {
    padding:20px;
}
.subject-list-sub {
    background-color:#fcfcfc;
}
.subject-image {
    overflow:hidden;
    border: solid 1px #888;
}
.subject-main img {
     width:100%;
}
.subject-main h1 {
    font-size: 2em;
    padding:5px;
}
.subject-main {
    padding:20px;
}
.subject-main img {
}
.subject-relation {
    /* padding:0px; */
    /* background-color:#000; */
}
.subject-relation-main {
    padding:20px;
}
.second-relation {
    height:250px;
    margin-bottom:10px;
}
.subject-card {
    height:100%;
    background-color:#fff;
}
.second-relation .card-block {
    padding:5px;
}
.second-relation .card-block h4 {
    font-size: 1em;
}

