.form-control.date {
    max-width:200px;
}
.white {
    background: rgb(255, 255, 255);
}
ul.subject-list-relation {
    list-style-type: none;
    padding-left:0px;
}
ul.subject-list-relation > li {
    padding-top:5px;
}
.logo-top {
    max-width:500px;
    margin:20px auto 0 auto;
    padding:30px;
}
.logo-top img {
    width:100%;
}
@media screen and (max-width: 991px) {
    .navbar {
	margin-bottom:0;
    }
}
.navbar-header img {
    height:25px;
}
.navbar-header form {
    margin:0px;
    padding:8px;
}
.input-container-top {
    max-width:500px;
}
.input-container-signup {
    max-width:200px;
}
.subject-list {
    padding:0px;
}
.media-left {
    padding-right:0px;
}
.subject-list-main .media-body, .subject-list-sub,
.subject-relation-main .media-body, .subject-list-sub {
    padding:10px;
}
.subject-relation-main {
    padding:0px;
}
.subject-list-sub {
    background-color:#fcfcfc;
}
.subject-image {
    overflow:hidden;
}
.subject-image > .main-image {
    height:200px;
    transition:border 0.2s ease;
    position:relative;
    background-repeat:no-repeat;
    -moz-background-size:100%;
    background-size:100%;
}
.subject-main img {
     width:100%;
}
.subject-main h1 {
    font-size: 2em;
    padding:5px;
}
.subject-main {
    padding:0px;
}
.subject-main img {
}
.subject-relation {
    /* padding:0px; */
    /* background-color:#000; */
}
@media screen and (max-width: 991px) {
    .subject-relation-list {
	padding:10px;
    }
}
.subject-relation-sub h4 {
    color:#439a88;
}
.subject-relation-sub {
    margin-top:10px;
}
.second-relation {
    height:250px;
    margin-bottom:10px;
}
.subject-card {
    height:100%;
    background-color:#fff;
}
@media screen and (max-width: 991px) {
    .card-block {
	padding:0 20px 20px 20px;
    }
}
.second-relation .card-block {
    padding:5px;
}
.second-relation .card-block h4 {
    font-size: 1em;
}
