.second-relation {
    height:250px;
}
.input-container-top {
    max-width:500px;
}
.subject-list {
    padding:0px 0px 0px 0px;
}
.subject-list-main .media-body {
    padding:20px 20px 20px 20px;
}
.subject-list-sub {
    background-color:#fcfcfc;
    margin:0px 0px 0px 0px;
    padding:20px 20px 20px 20px;
}